@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.titulo {
        color: blueviolet;
        font-family:  'Indie Flower', cursive;
        font-size:xx-large;
        font-style: italic;
        font-weight: 200;
        text-transform:capitalize;
        
}
h1{

     text-transform: uppercase;   
}
h2{
        text-transform: lowercase;
}
h3{
        text-transform:capitalize ;
}
h4{
      text-decoration:underline;
}
h5{
        text-decoration: line-through;
}
h6{
        text-decoration:overline;
}
p{
        font-family:"Hubballi" cursive;
        width: 300px;
        height: 10px;
        margin: 2rem;
}
.hu{
        border-radius: 14% 23% 13% /13px;
        border:dashed aqua;
        padding: 2rem;
        height: 35px;
        
}
.ha{
        border: double rgb(47, 179, 255);
        word-spacing:normal;
        border-radius:15% / 15%;
        padding: 2rem;
}

.radios{
        border-radius: 15% 15% 70% 70%;
        border:solid rgb(25, 0, 255);
        height: 35px;
        padding: 2rem;
}
